.Update{
    display: grid;
    width: fit-content;
    margin-left: 420px;
    padding: 30px;

}
.login__input{
margin: 10px;
width: 200px;
height:  20px;
font-family: cursive;
border: none;
background-color: aquamarine;
color: black;
font-weight: 300;
justify-content: center;
border-radius: 20px;
}
